*{
	margin: 0;
	Padding: 0;
}
body{
	background-color: grey;
}
#left{
	background:url('../photos/left.png');
	backgound-repeat: no repeat;
	width: 600px;
	height: 800px;
	float: left;
	border: black, 50px;
}
#right{
	
	background:url('../photos/right.png');
	backgound-repeat: no repeat;
	width: 600px;
	height: 800px;
	float: left;
	border: black, 50px;
}
.clear{
	clear: both;
}
.container{
	width:1200px;
	margin: 0 auto;
	height: 725px;
	position: relative;
	margin-top: 0px;
	
	
}
.button{
	background:url('../photos/click.png');
	backgound-repeat: no repeat;
	position: absolute;
	top: 310px;
	left: 360px;
	width: 483px;
	height: 179px;
	font-size: 30px;
	font-weight: bolder;
	border-style:solid;
	border-width:medium;
}